<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<log4net>
		<appender name="RequestFileAppender" type="log4net.Appender.FileAppender">
			<file value="logs/requests.log" />
			<appendToFile value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>
		<appender name="StackFileAppender" type="log4net.Appender.FileAppender">
			<file value="logs/stack.log" />
			<appendToFile value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>
		<appender name="IndependentFileAppender" type="log4net.Appender.FileAppender">
			<file value="logs/independent.log" />
			<appendToFile value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>
		<appender name="RequestconsoleAppender" type="log4net.Appender.consoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>
		<logger name="request-logger">
			<level value="INFO" />
			<appender-ref ref="RequestFileAppender" />
			<appender-ref ref="RequestconsoleAppender" />
		</logger>
		<logger name="stack-logger">
			<level value="INFO" />
			<appender-ref ref="StackFileAppender" />
		</logger>
		<logger name="independent-logger">
			<level value="DEBUG" />
			<appender-ref ref="IndependentFileAppender" />
		</logger>
	</log4net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>